In [3]:
import random
import pandas as pd
import numpy as np

In [4]:
random.seed()

def rand(a, b, c):
    return random.random()*b+c

In [5]:
import functools

In [6]:
rand2 = functools.partial(rand, b=1, c=1)

In [7]:
aaa = pd.DataFrame(data = ([1, 2, 3, 4, 5], [0, 9, 8, 7, 6])).T

In [8]:
aaa

   0  1
0  1  0
1  2  9
2  3  8
3  4  7
4  5  6

In [9]:
aaa.iloc[1:4, 0]

1    2
2    3
3    4
Name: 0, dtype: int64

In [11]:
rand2(1)

1.3571331412526009

In [12]:
aaa.iloc[1:4, 0] = np.array(list(map(rand2, aaa.iloc[1:4, 0])))

In [71]:
aaa

          0  1
0  1.000000  0
1  1.729734  9
2  1.995096  8
3  1.750047  7
4  5.000000  6